.body-dashboard {
background-color: white;
}

.collabs-all {
	display: flex;
	align-items: center;
	overflow: scroll;
}
.collab-profile {
		background: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
		object-fit: contain;
		margin: 20px;
		display: flex;
		align-items: center;
		padding: 20px;

		a {
			color: grey;
			padding: 3px;
		}
		.icon-profile-pic {
			font-size: 50px;
			color: grey;
			padding: 10px;
		}
}


.icon-dashboard {
    font-size: 35px;
    padding: 10px;
    top: 7px;
    position: relative;
    color: #cc5f5f;
}


.your-project {
padding: 120px 80px 50px;
color: rgb(0, 0, 0);
position: relative;
top: -66px;


	.img-dashboard {
	position: absolute;
	width: 190px;
	height: 190px;
	object-fit: cover;
	border: 2px solid white;
	left: 390px;
	}

	div {
    display: inline-block;
    position: relative;
    top: 70px;
    left: 510px;
    background-color: white;
    color: black;
    /* border-radius: 5px; */
    padding: 17px;
	}

	h4 {
	font-size: 16px;
	font-family: ‘Noto Sans’, sans-serif;
	margin-bottom: 0px;
	color: #D8D8D8;
	}

	h3 {
		font-size: 46px;
		font-family: ‘Fjalla One’, sans-serif;
	}
}

.dashboard-page {
	padding: 35px 0px;

	.tables {
    display: grid;
    grid-gap: 50px 100px;
		.sm-table {
			margin-bottom: 20px;
			background-color: whitesmoke;
			border: 1px solid rgb(230, 228, 228);
			padding: 30px;
			max-width: 60%;
		}
		.docs {
			p {
				display: inline-block;
				width: 300px;
				height: 50px;
				padding: 5px;
				color: rgb(168, 167, 167);
			}

		}


		.trello-updates {
			.lists {
				display: flex;
				.list {
					padding: 25px;
					margin: 20px;
					background-color: #E6E6E6;
					border-radius: 7px;
					width: 340px;
					overflow: scroll;
   				height: 500px;
				}
				h5 {
					font-family: ‘Fjalla One’, sans-serif;
					font-size: 16px;
					font-weight: bold;
					padding-bottom: 10px;
					position: sticky;
					top: -27px;
					background-color: #E6E6E6;
					padding: 15px;
					text-align: center;
				}
				.card-count {
					background-color: red;
				}

			  p {
					background-color: white;
					padding: 15px;
					margin-bottom: 20px;
					list-style: circle;
					border-radius: 7px;
				}
			}
		}
	}
}
