.black-bg {
	background-color: black;
	color: white;
	background-color: white;
	color: black;
	position: sticky;
	top: 0;
	border-bottom: 4px solid #ef6666;
}
.collabs-all {
	display: flex;
	justify-content: center;
	padding-right: 25px;
}

.each-collab {
	&:hover {
		.collab-name {
			opacity: 1;
		}
		.user-photo {
			position: relative;
			z-index: 1;
		}
	}
}

.collab-name {
	background: black;
	opacity: 0;
	padding: 10px;
	margin-bottom: 10px;
	transition: opacity 0.1s ease;
	p {
		text-align: center;
		color: white;
		margin: 0;
	}
}
.collab-profile {
	margin-right: -25px;
	position: relative;

	.user-photo {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 2px solid white;
		cursor: pointer;
		transition: all 300ms ease;
	}
}

.booking-info {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 10px;

	.icon-dashboard {
		font-size: 35px;
		padding: 10px;
		top: 7px;
		position: relative;
		color: black;
	}

	h5 {
		font-size: 2rem;
	}
	h4 {
		font-size: 3.5rem;
	}
}
.your-project {
	// padding: 20px;
	border: 1px solid white;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	flex-direction: row;

	.img-dashboard {
		width: 50%;
		height: 100%;
		object-fit: cover;
	}
	.all-info-download {
		display: flex;
		flex-direction: row;

		.info-download {
			width: 30%;
		}
	}
}

.dashboard-page {
	.tables {
		.sm-table {
			color: #3a4750;
			margin-bottom: 50px;
			padding-top: 80px;
		}

		.trello-updates {
			font-family: inherit;
			.lists {
				display: flex;
				.list {
					margin: 2%;
					width: 33.3%;
					overflow: scroll;
					height: 600px;
					background-color: white;
					border: 1px solid #ffffff;
					box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
					&:first-of-type {
						margin-left: 0;
					}
					&:last-of-type {
						margin-right: 0;
					}
				}
				h5 {
					font-size: 25px;
					font-weight: bold;
					top: -27px;
					text-align: center;
					padding: 20px;
					// background-color: #fff;
					margin-bottom: 0;
				}
				ul {
					list-style-position: outside;
				}
				li {
					font-size: 20px;
					padding: 10px;
					// text-align: center;
					border-radius: 10px;
					background-color: #fff;
					border: 1px solid #ffffff;
					// box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
					margin: 10px;
				}

				.card-count {
					background-color: #ef6666;
					padding: 20px;
					color: white;
					border-radius: 50%;
					height: 30px;
					width: 30px;
				}
			}
		}
	}
}
