.banner-show {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}


.charity-name {
  width: fit-content;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  color: white;
  margin: 30px 0;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.tab {
  border-bottom: 1px solid #cccccc;
  padding: 8px 16px;
  &.active {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background: white;
  }
}

.text-center {
  height: 500px;
  justify-content: center;
}

.card-text {
  text-align: left;
}

.charity-link {
  text-align: left;
}
.tab-header {
  padding: 1rem 0 0 0 !important;
}

.project-card-overview {
  text-align: left;
  font-weight: bold;
  h4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
  }
}

.important-info {
  padding-top: 20px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  h1 {
    font-size: 32px;
  }
}

.card-body p {
  font-family: 'Lato', sans-serif;
}

#map {
  justify-content: center;
}

.card-important-info {
  height: 600px;
  padding: 20px;
  margin-bottom: 0px;
  overflow: scroll;
  line-height: 1.8;

}

.card-important-info h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
.card-important-info li {
  font-family: 'Lato', sans-serif;
}

.btn-request{
  width: 100%;
  padding: 8px 24px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  a {
    color: #fff;
  }
}

.btn-request:hover {
  background: #8B8C89;
  color: white;
}

#project-description {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




