.design-table {
	background-color: rgb(244,244,244);
	padding: 20px;
	margin: 50px;
	width: 1400px;

	.test-d {
		border: 1px solid rgb(209, 208, 208);
		color: rgb(58,71,80);
		background-color: rgb(255, 255, 255);
		margin-bottom: 500px;
	}
}