.body-dashboard {
background-color: white;
}

.your-project {
background: rgb(117,130,133);
padding: 120px 80px 50px;
color: white;
position: relative;
top: -66px;

	.img-dashboard {
	position: absolute;
	border-radius: 5%;
	width: 90px;
	height: 90px;
	object-fit: cover;
	border: 2px solid white;
	left: 330px;
	}

	div {
		display: inline-block;
		position: relative;
    top: 19px;
    right: -355px;
	}

	h4 {
	font-size: 16px;
	font-family: ‘Noto Sans’, sans-serif;
	margin-bottom: 0px;
	color: #D8D8D8;
	}

	h3 {
		font-size: 46px;
		font-family: ‘Fjalla One’, sans-serif;
	}
}

.dashboard-page {
	padding: 35px 0px;

	.tables {
    display: grid;
    grid-gap: 50px 100px;
		.sm-table {
			margin-bottom: 20px;
		}
		.docs {
			p {
				  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 5px;
  background-color: yellow;
			}

		}


		.trello-updates {
			.lists {
				display: flex;
				.list {
					padding: 25px;
					margin: 20px;
					background-color: #E6E6E6;
					border-radius: 7px;
					width: 340px;
					overflow: hidden;
				}
				h5 {
						font-family: ‘Fjalla One’, sans-serif;
						font-size: 16px;
						font-weight: bold;
						padding-bottom: 10px;
				}
			  p {
					background-color: white;
					padding: 15px;
					margin-bottom: 20px;
					list-style: circle;
					border-radius: 7px;
				}
			}
		}
	}
}

