.home-page {
	.clearfix {
		zoom: 1;
	}
	clearfix:after {
		content: '.';
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
	}

	h2 {
		text-transform: uppercase;
		font-size: 30px;
		word-spacing: 2px;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: 1px;
		font-family: 'Oswald', sans-serif;
	}

	h2:after {
		display: block;
		height: 2px;
		background-color: #ef6666;
		content: ' ';
		width: 200px;
		margin: 0 auto;
		margin-top: 15px;
	}

	h3 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 7%;
		text-align: center;
	}

	.landing-page {
		// background-color: #000000;
		background-image: url('/assets/cool-background.png');
		// background: linear-gradient(274deg, #ffffff 11%, #000000 58%, #000000 100%);
		background-size: cover;
		background-position: center;
		height: calc(100vh - 70px);
		background-attachment: fixed;
		.title-landing {
			font-weight: bold;
			font-size: 4rem;
			font-family: 'Oswald', sans-serif;
			text-transform: uppercase;
			margin-bottom: 3%;
			word-spacing: 5px;
			letter-spacing: 2px;
		}

		.btn-landing {
			color: #ffffff;
			font-size: 25px;
			margin: 10px 0px;
			padding: 14px 35px;
			border-radius: 4px;
			border: 2px solid #ef6666;
			background: #000000;
			display: inline-block;
			-webkit-transition: background 0.3s ease;
			transition: background 0.3s ease;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	.hero-text-box {
		position: absolute;
		width: 1140px;
		top: 70%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		color: white;
	}

	.row {
		max-width: 1140px;
		margin: 0 auto;
		justify-content: center;
	}

	.m-40 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	section {
		padding: 100px 0;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
	}

	.box {
		padding: 20px;
		margin: 7px;
		border: 1px solid rgb(209, 208, 208);
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	}
	.section-features {
		height: calc(100vh - 70px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		.long-copy {
			margin-bottom: 15px;
		}
	}

	.long-copy {
		line-height: 170%;
		width: 90%;
		// margin-left: 15%;
		font-family: ‘Lato’, sans-serif;
		font-size: 16px;
	}

	.box p {
		line-height: 145%;
		font-family: ‘Lato’, sans-serif;
		font-size: 14px;
		text-align: center;
	}

	.icon-big {
		font-size: 300%;
		display: block;
		color: #ef6666;
		margin-bottom: 10px;
		text-align: center;
		padding-bottom: 10px;
	}

	.icon-small {
		display: inline-block;
		width: 30px;
		text-align: center;
		color: #ef6666;
		font-size: 120%;
		margin-right: 10px;

		/* secrets to align text and icons*/
		line-height: 120%;
		vertical-align: middle;
		margin-top: -5px;
	}

	/*--------------------------*/
	/* SHOWCASE */
	/*--------------------------*/
	.section-showcase {
		padding: 0;

		ul {
			padding-left: 0;
			margin-bottom: 0;
		}
	}

	.landing-showcase {
		list-style: none;
		width: 100%;
	}

	.landing-showcase li {
		display: block;
		float: left;
		width: 25%; /* 4 li elements, have to add up to 100% so its 25% each*/
	}

	.showcase-photo {
		width: 100%;
		margin: 0;
		overflow: hidden;
		background-color: #000;
	}

	.showcase-photo img {
		opacity: 0.7;
		width: 100%;
		height: auto;
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
		-webkit-transition: -webkit-transform 0.5s;
		transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		transition: transform 0.5s, -webkit-transform 0.5s;
	}

	.showcase-photo img:hover {
		opacity: 1;
		-webkit-transform: scale(1.03);
		transform: scale(1.03);
	}

	/*--------------------------*/
	/* CUSTOMER TESTIMONIALS */
	/*--------------------------*/
	.section-testimonials {
		height: calc(100vh - 70px);
		color: black;
		background-color: #ffffff;
		text-align: center;
		padding-bottom: 50px;
		padding-top: 60px;

		h2 {
			padding-top: 40px;
			text-transform: uppercase;
			font-size: 30px;
			word-spacing: 2px;
			text-align: center;
			margin-bottom: 30px;
			letter-spacing: 1px;
		}
	}

	blockquote {
		padding: 2%;
		font-style: italic;
		line-height: 145%;
		position: relative;
		margin: 30px;
		font-family: ‘Lato’, sans-serif;
		font-size: 14px;
	}

	cite {
		margin-top: 25px;
		display: block;
		font-family: ‘Lato’, sans-serif;
		font-size: 14px;
	}

	blockquote:before {
		content: '\201C';
		font-size: 300%;
		display: block;
		position: absolute; /* when element absolute, parent has to have relative position (blockquote)*/
		top: -5px;
		left: -5px;
	}

	cite img {
		height: 90px;
		border-radius: 50%;
		margin-right: 10px;
		vertical-align: middle;
		width: 90px;
		object-fit: cover;
		border: 4px solid #f66666;
	}
}
