// Specific CSS for your home-page
.home-title {
  color: black;
}

.home-title-box{
  background-color: white;
  padding: 10px;
  width: fit-content;
}

.banner-d {
  color: white;
}

.btn-home {
  color: white;
  font-size: 20px;
  margin: 10px 0px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #0A0908;
  transition: background 0.3s ease;
}

.btn-home:hover {
  background: #8B8C89;
  color: white;
}

.btn-home-cards-info{
  font-weight: bold;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
  border-color: none;
  border: none;
}

.btn-home-cards-info a{
  color: white;
}






strong {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;

    // Position the line behind the text so that
    // it is still easily readable
    z-index: -1;

    // The SVG is added as an SVG background image
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
    background-repeat: no-repeat;

    // This allows the SVG to flex in size to fit
    // any length of word. If the word is short,
    // the SVG will be stretched vertically, if it
    // is long, the SVG will be stretched horizontally.
    // The jagged nature of this particular SVG works
    // with this transforming.
    background-size: cover;
  }
}
