.card-product-showpage {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-showpage img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-showpage h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.charity-name h1 {
  text-align: center;
}

.card-product-showpage p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-showpage .card-product-infos-showpage {
  padding: 16px;
}

//

.overlay-fade {
  position: relative;
  box-sizing: border-box;
  height: 520px;
  width: 540px;
  overflow: hidden;
  float: left;
  // margin: 10px;
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.overlay-fade:hover div {
  opacity: 1;
  transition: all 0.2s ease-in;
}
.overlay-fade div {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  background-color: rgba(255,255,255,0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.overlay-fade a {
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  color: white;
  background-color: #EF6666;;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 130px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
}

