<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h2 class="about"><b>About Us</b></h2>
        <ul class="about-list" style="list-style: none">
          <li>FAQ</li>
          <li>Donate Here</li>
          <li>Our Team</li>
          <li>Contact Us</li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
        <h2 class="resources"><b>Resources</b></h2>
        <ul class="resources-list" style="list-style: none">
          <li>Blog</li>
          <li>Medium</li>
          <li>Press</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
          <h2 class="follow"><b>Follow Us</b></h2>
          <div class="footer-links">
            <a class="icons" href="#"><i class="fab fa-instagram"></i></a>
            <a class="icons" href="#"><i class="fab fa-facebook"></i></a>
            <a class="icons" href="#"><i class="fab fa-twitter"></i></a>
            <a class="icons" href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
