<div class="footer">
  <div class="footer-style">
    <div style="margin-right: 40px;">
      <h2 class="about"><b>About Us</b></h2>
        <p>FAQ</p>
        <p>Donate Here</p>
        <p>Our Team</p>
        <p>Contact Us</p>
        <p>Terms and Conditions</p>
    </div>
    <div style="margin-right: 40px;">
      <h2 class="resources"><b>Resources</b></h2>
        <p>Blog</p>
        <p>Medium</p>
        <p>Press</p>
    </div>
    <div class="">
      <h2 class="Corperate"><b>Corporate</b></h2>
      <p>Events</p>
    </div>
  </div>
  <div class="footer-links-right">
    <div>
      <h2 class="follow"><b>Follow Us</b></h2>
      <div class="footer-links">
        <a class="icons" href="#"><i class="fab fa-instagram"></i></a>
        <a class="icons" href="#"><i class="fab fa-facebook"></i></a>
        <a class="icons" href="#"><i class="fab fa-twitter"></i></a>
        <a class="icons" href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div>
      <a class="icons" href=""><i class="far fa-copyright"></i> Code for Change 2020</a>
    </div>
  </div>
</div>
