<div class="body-dashboard">
	<div class="your-project">
		<img class="img-dashboard" src="https://www.adomonline.com/wp-content/uploads/2019/06/istock-839295596.jpg" alt="charity picture">
		<div>
			<h4>You are working on</h4>
			<h3>Save the children</h3>
		</div>
	</div>
	<div class="container dashboard-page">
		<div class="tables">
			<div class="sm-table docs">
				<h3>Documents</h3>
				<p>Project brief download</p> 
				<div class="vl"></div>
				<p>charity information download</p> 
				<div class="vl"></div>
				<p>Github repository</p>
			</div>

			<div class="sm-table trello-updates">
				<h3>Trello updates</h3>
				<hr>
				<div class="lists">
					<% @boards[0].each do |list| %>
					<div class="list">
						<h5><%= list["name"] %><%= list["cards"].length %></h5>
						<% list["cards"].each do |entry|  %>
							<p><%= entry["name"] %></p>
						<% end %>
					</div>
						<% end %>	
				</div>
			</div>


			<div class="sm-table collabs">
				<h3>Collaborators</h3>
				<hr>
				<div class="collab-profile">
					<p>Full name</p>
					<a href="www.slack.com"> @slack </a>
					<a href="www.linkedIn.com"> @linkedIn </a>
				</div>
			</div>
		</div>
	</div>
</div>