<div class="your-project">
	<img class="img-dashboard" src="https://www.adomonline.com/wp-content/uploads/2019/06/istock-839295596.jpg" alt="charity picture">
	<div>
		<h4>You are working on</h4>
		<h3>Save the children</h3>
	</div>
</div>
<div class="container dashboard-page">
	<div class="tables">
		<div class="sm-table docs">
			<h3>Documents</h3>
			<p>Project brief download</p>
			<p>charity information download</p>
			<p>Github repository</p>
		</div>
		<div class="sm-table trello-updates">
			<div>
				<h3>Trello updates</h3>
				<p></p>	
			</div>
			<div>
				<h5>Backlog</h5><span>32</span>
				<p></p>	
			</div>
			<div>
				<h5>In progress</h5><span>8</span>
				<p></p>	
			</div>
			<div>
				<h5>In review</h5><span>2</span>
				<p></p>	
			</div>
			<div>
				<h5>Done</h5><span>38</span>
				<p></p>	
				</div>
			</div>
		<div class="sml-table collabs">
			<div class="collab-profile">
				<p>Full name</p>
				<a href="www.slack.com"> @slack </a>
				<a href="www.linkedIn.com"> @linkedIn </a>
			</div>
		</div>
	</div>
</div>