<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1><strong>Code for Change</strong></h1>
    <p>Harness your skills while making a difference</p>
    <a class="btn btn-flat" href="/projects">Search for Projects</a>
  </div>
</div>
<br>
<div class="container">
  <div class="cards">
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.charityemailgallery.com/wp-content/uploads/2016/09/Client-collage.png)">
      Past Projects
    </div>
    <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
      User Stories
    </div>
  </div>
</div>
