<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Code for Change</strong></h1>
    <p>Harness your skills while making a difference</p>
    <a class="btn btn-flat" href="/projects">Search for Projects</a>
  </div>
</div>
<br>
<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.charityemailgallery.com/wp-content/uploads/2016/09/Client-collage.png)">
      Past Projects
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/vectors/woman-interface-icon-vector-vector-id499923566?k=6&m=499923566&s=612x612&w=0&h=8zsgqr0M8ktq4UlvHiWBzlVE3aeiK0Xpz5tiwGtYnLM=)">
      User Stories
    </div>
  </div>
</div>
