<h1 class="chairty-name"><%=@project.name%></h1>

<div class="container">
  <div class="col-md-3">
    <%= image_tag @project.photo, class: 'project-photo' %>
  </div>
  <div class="col-md-9">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
           <li class="nav-item">
              <a class="nav-link active" href="#" role="tab">Project Information</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#">Charity Information</a>
           </li>
        </ul>
      </div>
      <div class="card-body">
        <%= @project.project_description, class: 'project_description' %>
      </div>
    </div>
  </div>
</div>
