<div class="container">
	<div class="card-product">
		<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
		<div class="card-product-infos">
			<h2>Project name</h2>
			<p>Product description with <strong>relevant info</strong> only.</p>
		</div>
		<div class="text" style="">
      <%=# link_to "I'm in", new_car_booking_path(@car) %>
    </div>
	</div>
</div>