//profile page for coder--

body {

  background: #ffffff;

}

.user-info {
  padding: 20px;
  max-width: 600px;
  max-height: 430px;
  border: 1px solid rgb(209, 208, 208);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;

}

.user-name {
  font-size: 34px;
  color: #ED4B4B;

}

.user-bio {
  width: 90%;
  font-family: ‘Oswald’, sans-serif;
}

.user-photo {
  width: 260px;
  height: 260px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;

}

.user-location {
  font-size: 16px;
  margin-top: 10px;

}

.card-category {
  margin: 15px;
}


.your-projects {
  background-color: rgb(244,244,244);
  padding: 20px;
  margin: 50px;
  border: 1px solid rgb(209, 208, 208);
  color: rgb(58,71,80);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.linkedin-url, .github-url {
  font-size: 30px;
  a {
    color: black;
    margin-right: 10px;

  }
  a:hover {
    color: #ED4B4B;


  }
}


.your-saved-projects {

  background-color: rgb(244,244,244);
  padding: 20px;
  margin: 50px;
  border: 1px solid rgb(209, 208, 208);
  color: rgb(58,71,80);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  text-align: center;

}

.heart-profile {
  color: red;
  font-size: 22px;
  padding-left: 10px;


}

.banner-profile{
  background-size: cover;
  background-position: center;
  height: 500px;
  border-bottom: 5px solid #ED4B4B;
}

.heart-profile-profile {
  color: red;
  font-size: 22px;
}

.heart-profile-profile:hover {
  color: red;
  font-size: 22px;
}



