
body{

  background-color: #ffffff;
}



//sign up
.session-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: calc(100vh - 66px);


  &-form {
    padding: 60px;
    max-width: 620px;
    font-family: ‘Oswald’, sans-serif;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.session-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 258px);

.session-grid-text {
  padding: 30px 10px 30px 40px;
  font-size: 20px;
  font-family: ‘Oswald’, sans-serif;


  }
}


//text styling
.text-top {
  margin: 40px 0;
  padding-bottom: 20px;
}


.text-notleft {
  margin: 10px;

}


.text-left {
 margin: 10px;

}

.text-charity {
  margin-top: 30px;

}

.p-signin {
  font-size: 28px;
  font-weight: bold;


}

//this styles the form on both pages

#new_user {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  background: white;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  h2 {
    font-size: 45px;
    font-family: ‘Oswald’, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.session-grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.h2-signup {
  text-align: center;
  font-size: 50px;
  font-family: ‘Oswald’, sans-serif;
}

.h2-projects {
  text-align: center;
  font-size: 50px;
  font-family: ‘Oswald’, sans-serif;
  margin-bottom: 20px;
}

.h3-profile {
  font-size: 40px;
  padding:10px;
  font-family: ‘Oswald’, sans-serif;
}




//profile page for coder

.user-info {
  padding: 20px;
  width: 600px;
  border: 1px solid rgb(209, 208, 208);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;

}

.user-name {
  font-size: 34px;
  font-family: ‘Oswald’, sans-serif;
}

.user-bio {
  width: 80%;
  font-family: ‘Oswald’, sans-serif;
}

.user-photo {
  width: 220px;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.user-location {
  font-size: 38px;

}

.card-category {
  margin: 15px;
}


.your-projects {
  background-color: rgb(244,244,244);
  padding: 20px;
  margin: 50px;
  border: 1px solid rgb(209, 208, 208);
  color: rgb(58,71,80);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);


}


