.session-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: calc(100vh - 66px);


  &-form {
    padding: 60px;
    max-width: 620px;
    font-family: ‘Oswald’, sans-serif;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.session-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 258px);

.session-grid-text {
  padding: 30px 10px 30px 40px;
  font-size: 20px;
  font-family: ‘Oswald’, sans-serif;


  }
}


//text styling
.text-top {
  margin: 40px 0;
  padding-bottom: 20px;
}


.text-notleft {
  margin: 10px;

}


.text-left {
 margin: 10px;

}

.text-charity {
  margin-top: 30px;

}

.p-signin {
  font-size: 28px;
  font-weight: bold;


}

//this styles the form on both pages

#new_user {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  background: white;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 45px;
    font-family: ‘Oswald’, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}




.h2-signup {
  text-align: center;
  font-size: 50px;
  font-family: ‘Oswald’, sans-serif;
}

.h2-profile {
  text-align: center;
  font-size: 50px;
  font-family: ‘Oswald’, sans-serif;
}

.h3-profile {
  font-size: 40px;
  padding:10px;
  font-family: ‘Oswald’, sans-serif;
}


.user-name {
  font-size: 34px;
  padding: 10px;
  font-family: ‘Oswald’, sans-serif;
}

.user-bio {
  width: 45%;
  font-family: ‘Oswald’, sans-serif;
}

.user-location {
  font-size: 38px;

}

.card-category {
  margin: 15px;
}

.btn {
 margin: 10px;
}



